@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Pacifico&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Pacifico', cursive;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    animation: fadeout 11s linear forwards;
}
@keyframes fadeout{
    0%,91%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }

}
@keyframes animate{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
.loading h2{
    color: #000;
}
.loading .bar{
    position: relative;
    width: 400px;
    height: 40px;
    background: transparent;
    margin: 0 20px;
    border: 2px solid #000;
    box-sizing: border-box;
}
.loading .bar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: left;
    animation: animate 10s linear forwards;

}
.loading .bar:after{
    content: 'Loading...';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 20px;
    mix-blend-mode: difference;

}